<h1>Search Results</h1>

<div class="container">
	{{#each restaurant}}
	<div class="collapsible">{{this.NAME}}
		<div>
			<!-- General restaurant information goes here -->
			<div>{{this.property.ADDRESS}}</div>
			<u>Inspections</u>
			{{#if this.inspection}}
				{{#each this.inspection}}
					<div class="collapsible">{{this.date}}
					<div>
						<!-- General inspection information goes here -->
						<u>Violations</u>
						{{#if this.violation}}
							{{#each this.violation}}
								<div class="collapsible">{{this.CODEREFERENCE}}: {{this.DESCRIPTIONOFVIOLATIONCORRECTIONPLAN}}</div>
							{{/each}}
						{{else}}
							<div class ="collapsible">No violations.</div>
						{{/if}}
					</div>
					
					</div>
				{{/each}}
			{{else}}
				<div class="collapsible">No inspections found.</div>
			{{/if}}
		</div>
	</div>
	{{/each}}
</div>

<style>
    h1{
        text-align: center;
    }
	.container{
        width: 800px;
        margin: 0 auto;
    }
	.collapsible{
        padding:10px;
        margin:10px 0;
        border:2px solid white;
		background: #ededed;
    }
</style>

<script type="text/javascript">

	$(document).ready(function(){
		$(".collapsible").click(function(e){ 
			e.stopPropagation();
			console.log("click");
			$(this).find(".collapsible").toggle();
		});
	});

</script>

