<h1>Search Results</h1>

<div class="container">
	{{#each restaurant}}
	<div class="collapser"><img src="/images/collapse.png" />{{this.NAME}}</div>
	<div class="collapsible">
		<!-- General restaurant information goes here -->
		<div>Address: {{this.property.ADDRESS}}</div>
		<div>Person In Charge: {{this.PERSONINCHARGE}}</div>
		{{#if this.inspection}}
			{{#each this.inspection}}
				<div class="collapser"><img src="/images/collapse.png" />Inspections</div>
				<div class="collapsible">
					<!-- General inspection information goes here -->
					<div>Date: {{this.date}}</div>
					<div>Inspector: {{this.INSPECTOR}}</div>
					<div>Inspection Type: {{this.TYPEOFINSPECTION}}</div>
					<div>Reasoning: {{this.REASONING}}</div>
					<div>Additional Notes: {{this.ADDITIONALNOTES}}</div>
					{{#if this.violation}}
					{{#each this.violation}}
						<div class="collapser"><img src="/images/collapse.png" />Violations</div>
						<div class="collapsible">
							<!-- Violation information goes here -->
							<div>Code Reference: {{this.CODEREFERENCE}}</div>
							<div>Correction plan: {{this.DESCRIPTIONOFVIOLATIONCORRECTIONPLAN}}</div>
						</div>
					{{/each}}
					{{else}}
						<div class ="collapsible">No violations.</div>
					{{/if}}
				</div>
			{{/each}}
		{{else}}
			<div class="collapsible">No matching inspections found.</div>
		{{/if}}
	</div>
	{{/each}}
</div>

<style>
    h1{
        text-align: center;
    }
	.container{
        width: 800px;
		padding:10px;
        margin: 0 auto;
		background: #ededed;
    }
	.collapser{
		font-weight: bold;
		font-size: 16px;
	}
	.collapser img{
		margin-right: 6px;
	}
	.collapsible{
        padding:10px;
        margin:10px 0px 0px 0px;
        border:2px solid white;
		background: #ededed;
    }
</style>

<script type="text/javascript">

	$(document).ready(function(){
		$(".collapser").click(function(e){
			e.stopPropagation();
			var collapsible = $(this).next(".collapsible");
			collapsible.toggle();
			var on = collapsible.is(':visible');
			$(this).children("img").attr("src", "images/" + (on ? "collapse.png" : "expand.png"));
		});
	});

</script>

